
.weather-container .time,
.weather-container .forecast-rows {
    color: rgb(255, 255, 255);
}

.weather-widget {
    width: 100%;
    color: white;
    font-family: league-gothic, sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 5% 10%;
}

body.very-warm,
.weather-widget.very-warm {
    background-color: #FF8500;
}

body.warm,
.weather-widget.warm {
    background-color: #ffc600;
}

body.normal,
.weather-widget.normal {
    background-color: #94AF10;
}

body.cold,
.weather-widget.cold {
    background-color: #06799F;
}

body.very-cold,
.weather-widget.very-cold {
    background-color: #233884;
}

.city {
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
}

.weather {
    display: table;
    height: 215px;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid white;
}

.weather .wi {
    display: table-cell;
    vertical-align: middle;
    font-size: 11em;
}

.weather-details {
    overflow: hidden;
    margin-top: 35px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.weather-details .temp {
    font-size: 10.5em;
    float: left;
    width: 55%;
    max-height: 200px;
}

.weather-details .tempType {
    font-size: 0.2em;
    position: relative;
}

.temp > .typeF {
    bottom: 43px;
}

.temp > .typeC {
    bottom: 43px;
}

.weather-details .temp .temp-number,
.weather-details .temp .wi {
    vertical-align: top;
    line-height: 0.85em;
}

.weather-details .temp .wi {
    font-size: 1.5em;
    line-height: 0.8em;
}

.weather-details .humidity,
.weather-details .wind,
.weather-details .variants {
    font-size: 3.4em;
}

.weather-details .humidity .wi,
.weather-details .wind .wi {
    vertical-align: top;
    width: 70px;
}

.weather-details .wind .wi {
    font-size: 0.82em;
}

.weather-details .wind .vel {
    font-size: 0.6em;
}

.forecast-rows {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.time {
    font-size: 2.5em;
    margin-top: 0;
    padding-top: 0;
}
