/**
 * {{properCase name}}
 */

import React, {Component} from 'react';

class {{properCase name}} extends Component {
    render() {
        return (
            <div>
            </div>
        );
    }
}

export default {{properCase name}};

