
.calendar {
    color: rgb(0, 0, 0);
}

.date {
    font-size: 18px;
}

.day {
    font-size: 102px;
}

.divider {
    border: 1px solid rgb(240, 240, 240);
}

.heading {
    font-size: 18px;
    font-weight: 500;
}

.line {
    display: block;
}

.notes {
    margin-top: 15px;
}

.task {
    border-left: 5px solid rgb(255, 204, 0);
    border-bottom: 1px solid rgb(240, 240, 240);
    border-right: 1px solid rgb(240, 240, 240);
    padding: 15px;
}

.task-time {
    padding-right: 5px;
}
